:root {
    --body-desktop-height: 150vh;
    --body-desktop-width: 100vw;
    --page-padding-topbot: 2rem;
    --page-padding-sides: 3rem; 
    --col-small-padding-lr: 0 1rem 0 0;
    --mobile-section-margin: 2rem 0;
    --section-padding: 1rem 5rem;
}

* {
    box-sizing: border-box;
}

/* html {
    height: 100%;
}  */

body {
    height: var(--body-desktop-height);
    width: var(--body-desktop-width);
    margin: 0;
    padding: var(--page-padding-topbot) var(--page-padding-sides);
    display: flex;
}


p {
    margin: 0;
}


a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

address {
    font-style: normal;
}